body {
  background-color: #757272;
}


h1, h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #14213d;
  background-color:#fca311;
  border-radius: 6px;
  text-align: center; 
}

h1 {
  margin: 25px 50px 0px 50px;
   box-shadow: 0 10px 25px black;
}

h2 {
  margin: 0px 150px 25px ;
  border: 2px solid #14213d;
  box-shadow: 0 10px 25px black;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #14213d;
  background-color:#fca311;
  text-align: center;  
  margin: 25px 150px 25px ;
  border: 2px solid #14213d;
  border-radius: 6px;
  box-shadow: 0 10px 25px black;
}



.about {
  background-color:#fca311;
  border-radius: 6px;
  height:relative;
  padding: 3px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #14213d;
  margin: 20px 60px;
 
}

.lists {
  background-color: #fca311;
  border-radius: 6px;
  padding: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:left;
  margin: 20px 60px;
}







img {
 border: 5px solid #fca311;
 border-radius: 3px;
 box-shadow: 0 10px 25px black;

}

/* .center is for all of my images on this page */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
}



/* .contact is for my  enail link and its container */

.contact {
  background-color: #14213d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri; 
  text-align: center;
  color: white;
  border-radius: 5px;
}

hr {
  border: 1px solid  #14213d;
 border-radius: 5px;
 box-shadow: 0 10px 25px black;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: white;
  text-align: center;
  background-color:#14213d;
  height:40px;
}

/* standard, unclicked link */
a:link {
  color: #fca311;
}

/* visited  */
a:visited {
  color: green;
}

/* hover over  */
a:hover {
  color: red;
}

/* clicked on link */
a:active {
  color: purple;